nav {
	&.side-nav {
		background: $white;
		box-shadow: 0 3px 6px rgba(85, 51, 120, 0.1);
		width: 100px;
		height: calc(100vh - 82px);
		position: fixed;
		top: 81px;
		left: 0;
		z-index: 1;
		@media (max-width: $break-md) {
			width: 100%;
			height: 100%;
			display: none;
		}
		a {
			color: $jetblack;
			display: flex;
			align-items: center;
			margin: 50px 0;
			padding: 10px 40px;
			text-decoration: none;
			white-space: nowrap;
			position: relative;
			@media (max-width: $break-md) {
				margin: 30px 0;
				font-size: $font-20;
			}
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 0;
				height: 100%;
				background: $smoke;
			}
			&:hover {
				&:before {
					width: 100%;
					transition: all 0.5s ease-in;
				}
			}
			&.active {
				&:before {
					display: none;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			em {
				flex: none;
				width: 23px;
				height: 23px;
				display: inline-block;
				margin-right: 15px;
				&.dashboard {
					background: url(../images/icons/icon-dashboard.png) no-repeat;
					background-size: 23px;
				}
				&.user {
					background: url(../images/icons/icon-user.png) no-repeat;
					background-size: 23px;
				}
				&.status {
					background: url(../images/icons/4-layers.png) no-repeat;
					background-size: 23px;
				}
				&.notebook {
					background: url(../images/icons/3-layers.png) no-repeat;
					background-size: 23px;
				}
			}
			span {
				display: none;
				@media (max-width: $break-md) {
					display: block;
				}
			}
		}
		&:hover {
			width: 250px;
			a {
				span {
					display: block;
				}
			}
		}
	}
}

.nav-backdrop {
	position: relative;
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba($color: $jetblack, $alpha: 0.3);
		position: fixed;
		top: 81px;
		left: 250px;
	}
}
