//COLORS

$white: #ffffff;
$white2: #f6f6fc;
$themeColor: #2275ff;
$headingColor: #016afb;
$skyblue: #6b75ff;
$purple: #9898ae;
$lightblue: #ccdbf5;
$darkblue: #0a1631;
$aqua: #33e4f1;
$coral: #ff6464;
$jetblack: #000;
$semiblack: #0a0d11;
$semiblack2: #1f2734;
$smoke: #eff6ff;
$semismoke: #f3f8ff;
$semismoke2: #f2f2f2; 
$grey: #4d4f5c;
$lightgrey: #ccc;
$semigrey:  #323e46;
$semigrey2: #6d6d6d; 


//SIZES
$font-10: 10px;
$font-11: 11px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;
$font-17: 17px;
$font-18: 18px;
$font-19: 19px;
$font-20: 20px;
$font-22: 22px;
$font-23: 23px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-34: 34px;
$font-36: 36px;
$font-38: 38px;

//FONT FAMILIES

$ttnorms-regular: "tt_normsregular", Helvetica, sans-serif;
$ttnorms-medium: "tt_normsmedium", Helvetica, sans-serif;
$ttnorms-bold: "tt_normsbold", Helvetica, sans-serif;

$avenirLTStd-black: "AvenirLTStd-Black", Helvetica, sans-serif;
$avenirLTStd-medium: "AvenirLTStd-Medium", Helvetica, sans-serif;

//BREAKPOINTS

$break-sm: 576px;
$break-md: 767px;
$break-md-2: 768px;
$break-md-3: 991px;
$break-lg: 992px;
$break-lg2: 1024px;
$break-Xlg: 1199px;
$break-Xlg2: 1200px;
$break-XXlg: 1440px;
$break-XXlg2: 1589px;